// Home page specific styles
.home-page
    max-width: 1200px
    margin: 0 auto
    padding: 40px 20px
    min-height: 100vh
    background-image: url('../assets/Linjetegning-Edit.png')
    background-repeat: no-repeat
    background-position: center bottom
    background-size: contain
    display: flex
    flex-direction: column
    align-items: center
    padding-top: 100px
    

    h1
        font-size: 11em
        font-weight: 900
        margin-bottom: -40px
        color: #e2c872
        top: 0
    
    h2
        font-size: 1.4em
        font-weight: 700
        margin-bottom: 25px
        color: #e2c872
    
    p
        font-size: 1.2em

    div
        font-size: 1em
        margin-bottom: 15px
        width: 100%
        max-width: 600px
        background-color: rgba(255, 255, 255, 0.95)
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
        padding: 30px 40px
        border-radius: 8px
        transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease
        &:hover
            background-color: rgba(62, 61, 61, 0.95)
            color: #fff
            cursor: pointer
            transform: scale(1.02)
            h1, h2, p
                color: #fff
            span.highlight
                color: #e2c872
        span.highlight
            color: #e2c872
            font-weight: 700
.start-button
    text-decoration: none
    color: #e2c872
    font-size: 1.3em
    font-weight: 600
    margin-top: 20px
    display: inline-block
    &:hover
        transform: scale(1.05)
        transition: transform 0.2s ease

.disclaimer
    font-size: 0.9rem
    color: #61616184
    margin-top: 20px
    text-align: center
    font-style: italic