body
    background-image: url('../assets/original-BGR.png')
    background-color: #FEFEFE
    background-repeat: no-repeat
    background-position: center bottom -70px
    background-size: 1700px
    background-attachment: fixed
    font-family: 'Roboto', sans-serif
    color: #333
    margin: 0
    padding: 20px
    line-height: 1.6

//wrap all the stories so they are next to eachother
.story-page
    max-width: 1800px
    padding: 40px 20px
    z-index: -5
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: center
    flex-wrap: wrap
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)

// make three sepperate boxes that are 400px by 400px
.story-one
      width: 400px
      height: 100px
      background-color: #ff5733
      margin: 10px
      display: inline-block
      
      h1
        color: #000000
        text-align: center
        padding-top: 30px
        h2
            color: #000000
            text-align: center
            padding-top: 10px
            p
                color: #000000
                text-align: center
                padding-top: 10px
    
.story-two
        width: 400px
        height: 100px
        background-color: #33c1ff
        margin: 10px
        display: inline-block
        h1
        color: #000000
        text-align: center
        padding-top: 30px
        h2
            color: #000000
            text-align: center
            padding-top: 10px
            p
                color: #000000
                text-align: center
                padding-top: 10px
    
.story-three
        width: 400px
        height: 100px
        background-color: #75ff33
        margin: 10px
        display: inline-block
        h1
        color: #000000
        text-align: center
        padding-top: 30px
        h2
            color: #000000
            text-align: center
            padding-top: 10px
            p
                color: #000000
                text-align: center
                padding-top: 10px
    
.story-four
        width: 400px
        height: 100px
        background-color: #ff33a8
        margin: 10px
        display: inline-block
        h1
        color: #000000
        text-align: center
        padding-top: 30px
        h2
            color: #000000
            text-align: center
            padding-top: 10px
            p
                color: #000000
                text-align: center
                padding-top: 10px
    
.next-button
    text-decoration: none
    color: #e2c872
    font-size: 1.5em
    display: block
    text-align: center
    margin: 30px auto 0 auto
    width: 150px
    padding: 10px 0
    border: 2px solid #e2c872
    border-radius: 8px
    &:hover
        background-color: #e2c872
        color: #fff
        transform: scale(1.05)
        transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease