// HeaderNav Styling
.header-nav
  background-color: #e2c872
  color: #fff
  padding: 10px 20px
  display: flex
  width: 100%
  height: 60px
  justify-content: space-between
  align-items: center
  z-index: 1000

  .logo
    font-size: 1.5em
    font-weight: bold

  .nav-links
    list-style: none
    display: flex
    gap: 15px

ul.nav-links
  margin: 0
  padding: 0
  display: flex
  gap: 15px

li
    a
      color: #fff
      text-decoration: none
      font-size: 1em
      margin-right: 15px

    &:hover
      text-decoration: underline
      color: #e2c872

.navbar
  padding: 10px 20px

  &:hover
    